
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa9E8MLs_rO4scn2FKCw_CTgT3AGITGfBAAm5Nt_uWOHPznHX0r13hnQ2uIhRXt9ngEpw&usqp=CAU');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.myOtherTable { background-color:#eedfca;border-collapse:collapse;color:#000;font-size:14px;  }
.myOtherTable th { background-color:#d0a772;color:white;width:10%; border: 1px solid #fff;
            border-collapse: collapse; }
.myOtherTable td, .myOtherTable th { padding:1px;border: 1px solid #fff; }
.rectangle {
  height: 300px;
  width: 300px;
  background-color: #b68e5a;
}
 #stepProgressBar  {
  display:  flex;
  justify-content:  space-between;
  align-items:  flex-end;
  width:  700px;
  margin:  0  auto;
  margin-bottom:  40px;
}

.step  {
text-align:  center;
}

.step-text  {
margin-bottom:  10px;
color:  #585555;
size: 50px;
}


.bullet {
  border: 1px solid #c39c6a;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  color: #c39c6a;
  display: inline-block;
  position: relative;
  transition: background-color 500ms;
  line-height:20px;
}


.bullet.completed  {
  color:  white;
  background-color:  #c39c6a;
}



.bullet.completed::after {
  content: '';
  position: absolute;
  right: -150px;
  bottom: 10px;
  height: 1px;
  width: 100px;
  background-color: #b08f63;
}

/* Base styles and helper stuff */
.hidden  {
  display:  none;
}
 
button  {
  padding:  5px  10px;
  border:  1px  solid  black;
  transition:  250ms background-color;
}

button:hover  {
  cursor:  pointer;
  background-color:  black;
  color:  white;
}

button:disabled:hover  {
  opacity:  0.6;
  cursor:  not-allowed;
}

